body {
    scroll-behaviour: ease;
    transition-duration: 1s;
}
/* Background styles  */
.bg-purple-custom {
    background-color: rgba(137, 0, 161, 0.9);
}
.custom-link {
    height: 360px;
    width: 350px;
}

.custom-link > img {
    height: 40%;
}
/* Portfolio styles */
.custom-link:hover {
    /* cursor: url('/icons/cursor-icon.png'), auto; */
    transform: scale(1.30);
    transition: linear;
    transition-duration: 0.2s;
}