/* About font styles */
#aboutSection > div:nth-child(2) {
    text-align: justify;
    text-justify: inter-word;
}

/* Background styles  */
.bg-purple-custom {
    background-color: rgba(137, 0, 161, 0.9);
}
.custom-link {
    height: 360px;
    width: 350px;
}

.dark-custom-bg {
    background-color: rgba(37, 37, 38, 0.5);
}

.custom-link > img {
    height: 40%;
}
/* Portfolio styles */
.custom-link:hover {
    transform: scale(1.30);
    transition: linear;
    transition-duration: 0.2s;
}